/*Smooth animation*/
*{
    transition: all .1s ease-in;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    background-color: #3B3F45;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    border: 15px solid #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #4A4F56;
    color: #EB7E7F;
    height: 100px;
    vertical-align: middle;
    padding-top: 10px;
}

header p{
    font-size: 20px;
}

header h1{
    margin: 0;
}

footer{
    background-color: #4A4F56;
    color: #EB7E7F;
    width: 60%;
    line-height: 50px;
    margin: 30px 20%;
    font-size: 20px;
    vertical-align: middle;
}

table {
    background-color: #88839E;
    margin: 30px 20%;
    width: 60%;
    line-height: 40px;
}

table td {
    text-align: left;
    font-size: 20px;
    height: 50px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

/*Default background color for even lines*/
tr:nth-child(2n){
    background-color: #7A7593;
}

/*Default text color in label.check_label*/
.check_label{
    color: #FFFFFF;
}

/*Default text color and font size in span*/
span {
    color: #C0CBD6;
    font-size: small;
}

/*adding brackets before and after the texts in span*/
span:before{
    content:"(";
}

span:after{
    content:")";
}

/*Changing background color and adding top & bottom borders to the element while hovering*/
td:hover{
    background-color: #625E77;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/*Striking out the text in label and changing its colour when checkbox is checked*/
/*input[type="checkbox"]:checked + span*/
input[type="checkbox"]:checked + label.check_label{
    color: #A3A0B5;
    text-decoration: line-through;
}

/*Striking out the text in span and changing its colour when checkbox is checked*/
input[type="checkbox"]:checked + label.check_label span{
    color: #A3A0B5;
    text-decoration: line-through;
}

/*Changing background color while clicking on the element*/
td:active{
    background-color: #7F6C77;
}