@font-face {
    font-family: 'Aleo';
    src: url("../fonts/Aleo-Regular.otf") format('otf');
    font-weight: 300;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    border: 15px solid #fff;
    color: #fff;
}

/*changing default styles for links*/
a{
    text-decoration:none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

/*one style for all buttons (except the button in Search form)*/
button{
    text-decoration: none;
    border: none;
    width: 225px;
    height: 60px;
    margin: 50px 0;
    text-transform: uppercase;
    font-family: Aleo, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;

    /*background gradient for buttons*/
    background: #496bfe; /* Old browsers */
    background: -moz-linear-gradient(45deg, #496bfe 0%, #496bfe 40%, #5474fd 40%, #5474fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #496bfe 0%,#496bfe 40%,#5474fd 40%,#5474fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #496bfe 0%,#496bfe 40%,#5474fd 40%,#5474fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#496bfe', endColorstr='#5474fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*block for content*/
.content{
    width: 90%;
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content:'';
    display:block;
    clear:both;
}

/*================= Start page =======================*/

.start_page{
    padding: 230px 0 100px;
    background-image: url("../img/bg_start.jpg");
    background-size: cover;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.start_page .logo{
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.start_page .slogan{
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 7px;
}

/*styles for Search form*/
.start_page .search_form{
    max-width: 650px;
    height: 60px;
    margin: 50px auto;
    border: 2px solid #fff;
    font-size: 0;
}

/*Search bar in the Search form*/
.start_page .search_form input{
    display: inline-block;
    width: 80%;
    vertical-align: top;
    border: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    color: #999999;
 }

/*button in the Search form*/
.start_page .search_form button{
    display: inline-block;
    margin: 0;
    width: 20%;
    height: 56px;
    font-size: 14px;
    line-height: 60px;
    background: #5474fd;
}

    /*style for section with scroll button and text*/
.scroll{
    text-transform: capitalize;
    padding: 70px;
    letter-spacing: 0.1em;
}
/*scroll button (arrow-shaped) */
.arrow_down {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*================= Menu below the Start page =======================*/
.bottom_menu{
    height: 80px;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 80px;
    background-color: #5474fd;
    color: #fff;
}
/*Styles for Logo in the bottom menu*/
.bottom_menu .logo{
    display:inline-block;
    float: left;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 0.1em;
}

/*by default all links in the bottom menu are placed on the right side*/
.bottom_menu ul{
    float:right;
}

/*links in bottom menu*/
.bottom_menu ul li{
    font-family: Aleo, sans-serif;
    font-weight: 300;
    font-size: 14px;
    display:inline-block;
    margin-right: 35px;
}
.bottom_menu ul li:last-child{
    margin-right: 0;
}

/*================= Why choose us =======================*/
.why_choose_us{
    padding: 120px 0 100px;
    background: url("../img/bg_why_choose_us.jpg");
    background-size: cover;
    color: #fff;
}

.why_choose_us_text{
    height: 100%;
}

.why_choose_us_text h2{
    margin: 60px 0;
    font-family: Aleo, sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.why_choose_us_text p{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
    color: #e8e8e8;
    font-family: "Josefin Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.why_choose_us_images{
    height: 100%;
}

/*styles for top image*/
.why_choose_us_images .top_image{
    padding-left: 65px;
    float: left;
}

/*styles for bottom image*/
.why_choose_us_images .bottom_image{
    float: right;
}

/*================= How it works =======================*/
.how_it_works{
    padding: 40px 0 110px;
    background-color: #333333;
    text-transform: capitalize;
}

.how_it_works .step{
    width: 100%;
    text-align: center;
}
.how_it_works h3{
    font-family: Aleo, sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: #e8e8e8;
}

.how_it_works .icon{
    width: 96px;
    height: 96px;
    border-radius: 48px;
    margin: 0 auto;
    background-color: #333333;
}

/*styles for image with arcs*/
.arc_wrapper{
    margin: 0 auto;
    width: 66%;
}
.arc_wrapper img{
    max-width: 100%;
    vertical-align: center;
    opacity: 0.5;
}


/*================= Examples of countries & places =======================*/
.country_example1{
    padding: 230px 0 100px;
    background: url("../img/bg_example1.jpg");
    background-size: cover;
}

.country_example2{
    padding: 230px 0 100px;
    background: url("../img/bg_example2.jpg");
    background-size: cover;
}

/*section with text*/
.place_description{
    padding: 30px;
    width: 45%;
    background-color:rgba(35,35,35,0.9);
    font-family: "Josefin Sans", Arial, sans-serif;
    font-weight: 300;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

/*name of country*/
.place_description .country{
    padding: 15px 0;
    font-size: 20px;
    font-weight: 300;
    color: #e8e8e8;
}

/*place in the country*/
.place_description .place{
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

/*description of the place in the country*/
.place_description .description{
    padding: 15px 0;
    font-size: 16px;
    line-height: 26px;
    color: #e8e8e8;
}


/*================= Testimonials =======================*/
.testimonials{
    padding: 120px 0 200px;
    background: url("../img/bg_testimonials.jpg");
    background-size: cover;
}

.testimonials h3{
    padding-bottom: 100px;
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-family: Aleo, sans-serif;
    font-weight: 300;
}

.testimonial_area{
    display: table;
    font-size: 0;
    max-height: 33%;
    background-color: #333333;
}

/*styles for image & image container*/
.testimonial_image{
    display: table-cell;
    vertical-align: middle;
    width: 35%;
}

/*styles for section with text*/
.testimonial_text{
    width: 65%;
    display: table-cell;
    vertical-align: middle;
    padding: 50px 60px 50px;

    font-family: "Josefin Sans", Arial, sans-serif;
    font-weight: 300;
    line-height: 26px;
}

.testimonial_text .user_name{
    /*padding-bottom: 35px;*/
    text-transform: uppercase;
    color: #fefefe;
    font-size: 20px;
}

.testimonial_text blockquote{
    color: #e8e8e8;
    font-size: 16px;
}

/*style for quotation mark*/
.testimonial_text blockquote i{
    font-size: 36px;
    color: #5474fd;
}

/*================= Footer =======================*/
footer{
    padding: 110px 0;
    background-color: #232323;
    text-align: center;
}

footer .logo{
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.15em;
}

footer .slogan{
    font-family: "Josefin Sans", Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 32px;
    font-size: 16px;
    letter-spacing: 0.1em;
}

/*social media icons*/
.social_icons a{
    line-height: 36px;
    color: #e8e8e8;
    font-size: 16px;
}

.social_icons a:hover{
    color: #5474fd;
}

.social_icons ul li{
    display:inline-block;
    margin-right: 20px;
}

.social_icons ul li:last-child {
    margin-right: 0
}

/*============================================================*/
/*grids*/
.grid_container {
    padding-left:10px;
    padding-right:10px;
}

.grid_row > [class*="grid_cell-"]{
    float: left;
    padding-left: 20px;
}

.grid_container .grid_row {
    margin-left:-10px;
    margin-right:-10px;
}

.grid_container .grid_row + .grid_row{
    margin-top:20px;
}

.grid_container .grid_row > [class*="grid_cell-"]{
    float:left;
    padding-left:10px;
    padding-right:10px;
}

/*clearfix fot .grid_row*/
.grid_row:after{
    content: '';
    display: table;
    clear: both;
}

[class*="grid_cell-"]{width: 100%;}

.grid_cell-1-2{width: 50%;}

.grid_cell-1-4{width: 25%;}

.grid_cell-3-4{width: 75%;}

.grid_cell-1-3{width: 33.33333%;}

.grid_cell-2-3{width: 66.66666%;}
