/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*основной шрифт и его цвет, используемые на странице*/
body{
    font-family: 'Montserrat', sans-serif;
    color: #60606e;
    font-weight: 700;
}

/*убираем дефолтные стили для ссылок*/
a{text-decoration:none;}

/*стили для всех картинок (с учетом их расположения в сетке)*/
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/*стили для логотипа*/
.logo a{
    font-family: 'Montserrat', sans-serif;
    color: #60606e;
    font-size: 18px;
}
/*иконка меню*/
.menu{

}

/*фоновая картинка на стартовой странице*/
section.akad_top{
    position:relative;
    min-height:100vh;
    padding-top:50px;
    padding-bottom:110px;
    background: #b0b0b0 url('../img/bg.jpg') no-repeat center;
    filter: grayscale(100%);
    /*opacity: 0.5;*/
    background-size:cover;
}

section.akad_top img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

    /*
    теоретически можно накрыть сверху полупрозрачным фоном, задав дочернему элементу
    надо глянуть еще как это сделано в макете foliac

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(34,35,35,0.54);
    */
}

h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
    text-align: center;
    text-transform: uppercase;
}

/*общие параметры для контейнеров, в которых находится контент*/
.container {
    width: 88%;
    margin: 0 auto;
}

.container p{
    color: #4d5152;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}






/*стили для сеток*/
.grid_container {
    padding-left:10px;
    padding-right:10px;
    max-width: 1200px;
}

.grid_row > [class*="grid_cell-"]{
    float: left;
    padding-left: 20px;
}

.grid_container .grid_row {
    margin-left:-10px;
    margin-right:-10px;
}

.grid_container .grid_row + .grid_row{
    margin-top:20px;
}

.grid_container .grid_row > [class*="grid_cell-"]{
    float:left;
    padding-left:10px;
    padding-right:10px;
}

/*clearfix fot .grid_row*/
.grid_row:after{
    content: '';
    display: table;
    clear: both;
}

[class*="grid_cell-"]{width: 100%;}

.grid_cell-1-2{width: 50%;}

.grid_cell-1-4{width: 25%;}

.grid_cell-3-4{width: 75%;}

.grid_cell-1-3{width: 33.33333%;}

.grid_cell-2-3{width: 66.66666%;}
