* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    /*height: 350px;*/
}






.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightgrey;
}

.ba-grid > [class*="ba-width-"]{
    float: left;
    padding-left: 20px;
}

/*clearfix для .ba-grid*/
.ba-grid:after{
    content: '';
    display: table;
    clear: both;
}

.ba-grid{
       margin-left: -20px;
   }
.ba-grid + .ba-grid {
    margin-top: 20px;
}

[class*="ba-width-"] {
    width: 100%;
}
/*классы определяющие ширину ячеек сетки*/
/*ячейка занимает половину ширины*/
.ba-width-1-2{
    width: 50%;
}
/*ячейка занимает одну треть ширины*/
.ba-width-1-3{
    width: 33.33333%;
}
/*ячейка занимает две трети ширины*/
.ba-width-2-3{
    width: 66.66666%;
}

/*ячейка занимает четверть ширины*/
.ba-width-1-4{
    width: 25%;
}

/*не нужно писать .ba-grid > .ba-width-1-2{}*/
