body {
    height: 100%;
}

/*general style of desk*/
.desk {
    width: 640px;
    height: 640px;
    margin: 0 auto;
    border: 3px solid grey;
}

/*desk & desk cells*/
.desk_cells {
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: #c2c1eb;
    list-style-type: none;
}

.desk_cells li {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

/*.desk_cells li:nth-child(2n){
    background-color: #525178;
}*/

/*background for dark cells on the board*/
.desk_cells .bg_dark{
    background-color: #525178;
}

/*style of figures - general*/
.checker {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
}

.checker:hover {
    border: 2px dashed black;
}

/*color of figures for one player*/
.player1 {
    background: midnightblue;
}

/*color of figures for another player*/
.player2 {
    background: lightcyan;
}