/*Рамка вокруг страницы. Цвет #FFFFFF*/

body {
    /*width:100%; height:100%;*/
    background-color: #3B3F45;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    border: 10px solid #FFFFFF;
    text-align: center;
}

header{
    background-color: #4A4F56;
    color: #EB7E7F;
}

footer{
    background-color: #4A4F56;
    color: #EB7E7F;
}




/*
В решении обязательно должны быть использованы селекторы:
по элементу +
по классу
по атрибуту +
селектор соседей “+”
:hover +
:active +
:checked +
:before и :after +
:nth-child
*/


/*РАБОТАЕТ Базовый цвет фона формы*/
form {
    background-color: #88839E;
    position: center;
}

form div{
    text-align: left;
}

/*Базовый цвет фона у четных эл-тов*/
form div:nth-child(2n){
    background-color: #7A7593;
}

/*
[type="checkbox"]{
    background-color: #7A7593;
    border-top: 2px #FFFFFF;
    border-bottom: 2px #FFFFFF;
}
*/


/*РАБОТАЕТ Базовый цвет текста эл-тов списка #FFFFFF*/
label{
    color: #FFFFFF;
}

/*Базовый цвет текста в скобках #C0CBD6*/
span {
    color: #C0CBD6;
}

span:before{
    content:"(";
}

span:after{
    content:")";
}

/*РАБОТАЕТ при наведении курсора на чекбокс меняется фон и добавляются границы вверху и внизу*/
input[type="checkbox"] + label:hover{
    background-color: #625E77;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}


/*РАБОТАЕТ После клика на чекбок текст зачеркивается, цвет текста меняется на #A3A0B5*/
input[type="checkbox"]:checked + label.check_label{
    color: #A3A0B5;
    text-decoration: line-through;
}

/*костыль?*/
input[type="checkbox"]:checked + label.check_label span{
    color: #A3A0B5;
    text-decoration: line-through;
}

/*РАБОТАЕТ При клике цвет фона меняется на #7F6C77*/
input[type="checkbox"] + label:active{
    background-color: #7F6C77;
}


/*Плавная анимация*/
*{
    transition: all .1s ease-in;
}