*{
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
}

/*background gradient (made by gradient generator)*/
body{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #ff512f; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ff512f 0%, #dd2476 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff512f 0%,#dd2476 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff512f 0%,#dd2476 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*main styles for section*/
.payment_page{
    max-width: 460px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #7a7b7f;
    font-size: 13px;
}

/*decorating h1*/
.payment_page h1{
    margin: 0;
    color: #1b1c1d;
    font-weight: bold;
}
/*adding icon before h1*/
.payment_page h1:before {
    content: url(../img/icon_sign_up.svg);
    margin-right: 10px;
}

/*decorating all links*/
.payment_page a{
    text-decoration: none;
    color: #ea355a;
}
.payment_page a:hover{
    text-decoration: underline;
}

/*styles for all inputs in the form*/
.payment_page input{
    border: none;
    padding: 15px 15px;
    border-radius: 3px;
    font-size: 14px;
    background-color: #f0f0f0;
}

#first_name, #last_name{
    display: inline-block;
    width: 49%;
}

#first_name{
    margin: 15px 0.5% 0 auto;
}

#last_name{
    margin: 15px auto 0 0.5%;
}

#user_mail{
    width: 100%;
    margin: 15px auto;
}

#user_password{
    width: 100%;
    margin: 0 auto 15px auto;
}

/*decorating the button*/
.payment_page button{
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 1px #bd1961;
    display: block;
    background-color: #ea355a;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
}

/*text below the button*/
.payment_page .agreement{
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}